<div (window:resize)="resize()" class="container" id="container">
    <form (ngSubmit)="SaveData(f)" #f="ngForm" id="dataForm" class="center">
          <input type="text" class="form-control" placeholder="$0.00" id="salaryInput" name="salaryField" ngModel>
    </form>
</div>
