#container{
  display: block;
  position: relative;
  top: 0;
}

#dataForm{
  position: absolute;
  transform-origin: top left;
}

#salaryInput{
  display: block;
  position: fixed;
  top: 350px;
  left: 350px;
  width: 350px;
  height: 40px;
  font-size: 3em;
}
