/* You can add global styles to this file, and also import other style files */

#game-frame{
  width: 64%; /* 16 * 4*/
  height: 36%;/* 9 * 4*/
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

canvas{
  width: 100%;
  height: 100%;
}
